<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
	xmlns:th="http:/ /www.thymeleaf.org">
<head>
<title>Lista de tareas</title>
</head>
<body>
	<h1>Tareas</h1>
	<table>
		<thead>
			<tr>
				<th>Descripcion</th>
				<th>Creada en</th>
				<th>Prioridad</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tr th:each="tarea: ${tareas}">
			<td th:text="${tarea.descripcion}"></td>
			<td th:text="${tarea.creadaEn}"></td>
			<td th:text="${tarea.prioridad}"></td>
			<td>
				<a th:href="@{/editar/{id}(id=${tarea.id})}">Editar</a>
				<a th:href="@{/eliminar/{id}(id=${tarea.id})}">Eliminar</a>
			</td>
		</tr>
	</table>

	<form method="post" th:object="${tarea}">
		<div>
			<label for="descripcion">Descripcion</label> <input type="text"
				th:field="*{descripcion}" id="descripcion"> <span
				th:if="${#fields.hasErrors('descripcion')}" class="validationsError"
				th:errors="*{descripcion}">Necesita descripción</span>
		</div>

		<span>Prioridad:</span>
		<div th:each="prioridad: ${prioridades}">
			<label th:for="${prioridad}" th:text="${prioridad}"></label> <input
				type="radio" th:field="*{prioridad}" th:value="${prioridad}">
			<span class="validationsError" th:if="${#fields.hasErrors('prioridad')}"
				 th:errors="*{prioridad}">Necesita
				prioridad</span>
		</div>

		<br> <input type="submit" value="Agregar">
	</form>
</body>
</html>